In [1]:
import pandas as pd
from pathlib import Path
import yfinance as yf

In [2]:
sp500= yf.Ticker('spy')
sp500_df= sp500.history()
sp500_df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-08-29,400.554616,404.179709,399.558707,400.982849,65370800,0.0,0
2022-08-30,402.197843,402.446821,394.379952,396.580902,85652400,0.0,0
2022-08-31,398.293861,399.598499,393.423882,393.563293,76029700,0.0,0
2022-09-01,391.282691,395.156761,388.444344,394.798248,78740100,0.0,0
2022-09-02,398.642431,399.917194,388.733125,390.635315,99574100,0.0,0

In [3]:
sp500_df = sp500.history(interval='1d', start='2010-06-01', end='2022-09-26')
sp500_df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-01,85.305471,86.565172,84.533907,84.659874,277909400,0.0,0
2010-06-02,85.092908,86.872233,84.644139,86.864365,240243700,0.0,0
2010-06-03,87.116322,87.439118,86.273896,87.163559,226618300,0.0,0
2010-06-04,85.510200,86.077067,83.817473,84.100906,398475600,0.0,0
2010-06-07,84.400063,84.722865,82.990776,83.053757,264609100,0.0,0

In [4]:
sp500_df.drop(columns=["Open","High","Low","Volume","Dividends","Stock Splits"], inplace=True)
sp500_df.head()

                Close
Date
2010-06-01  84.659874
2010-06-02  86.864365
2010-06-03  87.163559
2010-06-04  84.100906
2010-06-07  83.053757

In [5]:
sp500_df.to_csv('sp500.csv')

In [6]:
sp500_hourly_df = sp500.history(interval="1h", start="2020-10-20", end="2022-09-27")
sp500_hourly_df.to_csv('sp500_hourly.csv')